﻿<div class="main-page-header-container">
    <button onclick="location.href='@Url.Action("Login", "Account")'" type="button" class="white-main-button">Kid Sign In</button>
    <p class="titleText">Kids genius</p>
</div>
<div class="youngerKids">


    <div class="brochure-courses-header">
        <div class="brochure-courses-header-info-subtitle">
            Good Starts
        </div>
        <div class="brochure-courses-header-wrapper">
            <div class="brochure-courses-header-info-component">
                <div class="brochure-courses-header-info-title" style="background-color: rgb(94, 219, 187);">
                    Younger Kids
                </div>
            </div>
            <div class="brochure-courses-header-meta-wrapper">
                <div class="brochure-courses-header-platforms">
                    <span class="brochure-courses-header-img-wrapper" style="background-color: rgb(94, 219, 187);">
                        <img src="https://d2ecljqfw49px2.cloudfront.net/assets/icons/devices.png" style="position: relative; top: 20%; height: 3vw; width: 3vw;" alt="">
                    </span>
                    <span>
                        iOS &amp; Web Browser
                    </span>
                </div>
                <div class="brochure-courses-header-age">
                    <span>
                        Ages 7-12
                    </span>
                    <span class="brochure-courses-header-img-wrapper" style="background-color: rgb(94, 219, 187);">
                        <img src="https://d2ecljqfw49px2.cloudfront.net/assets/icons/beginner.png" style="position: relative; top: 20%; height: 3vw; width: 3vw;" alt="">
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div id="div-wrapper">
        @foreach (var course in ViewBag.Courses)
        {
            <div id="single-div">
                <a href='@Url.Action("Course", "Courses", new { id = course.Id})'><img src="@course.MainPicture" /></a>
                <h3 class="course-name">@course.Name</h3>
                <p>@course.Description</p>
                <button class="submit white-button">@Html.ActionLink("Learn more...", "Course", new { id = course.Id })</button>
            </div>
        }
    </div>
</div>

<div class="olderKids">
    <div class="brochure-courses-header">
        <div class="brochure-courses-header-info-subtitle" style="color: rgb(255, 255, 255);">
            DEEP DIVES
        </div>
        <div class="brochure-courses-header-wrapper">
            <div class="brochure-courses-header-info-component">
                <div class="brochure-courses-header-info-title" style="background-color: rgb(255, 255, 255);">
                    Older Kids
                </div>
            </div>
            <div class="brochure-courses-header-meta-wrapper">
                <div class="brochure-courses-header-platforms">
                    <span class="brochure-courses-header-img-wrapper" style="background-color: rgb(255, 255, 255);">
                        <img src="https://d2ecljqfw49px2.cloudfront.net/assets/icons/devices.png" style="position: relative; top: 20%; height: 3vw; width: 3vw;" alt="">
                    </span>
                    <span style="color: rgb(255, 255, 255);">
                        iOS &amp; Web Browser
                    </span>
                </div>
                <div class="brochure-courses-header-age">
                    <span style="color: rgb(255, 255, 255);">
                        Ages 10-16
                    </span>
                    <span class="brochure-courses-header-img-wrapper" style="background-color: rgb(255, 255, 255);">
                        <img src="https://d2ecljqfw49px2.cloudfront.net/assets/icons/intermediate.png" style="position: relative; top: 20%; height: 3vw; width: 3vw;" alt="">
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div id="div-wrapper">
            @foreach (var course in ViewBag.Courses)
        {
            <div id="single-div">
                <div class="single-course-div">
                    <a href='@Url.Action("Course", "Courses", new { id = course.Id})'><img src="@course.MainPicture" /></a>
                    <h3 class="course-name">@course.Name</h3>
                    <p>@course.Description</p>
                    <button class="submit white-button">@Html.ActionLink("Learn more...", "Course", new { id = course.Id })</button>
                </div>
            </div>
    }
    </div>
</div>
<div class="workspaceDiv">
    <p class="workspaceP">
        GET MENTORSHIP ANYWHERE
        <br />
        How It Works
    </p>
</div>
<div class="brochure-segment-component left">
    <div class="inner-wrapper">
        <div class="brochure-info-segments">
            <div class="brochure-info-segment-component">
                <img src="https://d2ecljqfw49px2.cloudfront.net/assets/icons/video-meeting-chat-text.png" class="brochure-info-segment-icon" alt="">
                    <div class="brochure-info-segment-title">Video Based</div>
                        <div class="brochure-info-segment-description">
                            Each course contains a video library produced by our mentors demonstrating techniques, pro secrets and challenges.
                        </div>
             </div>
             <div class="brochure-info-segment-component">
                <img src="https://d2ecljqfw49px2.cloudfront.net/assets/icons/location-pin-direction.png" class="brochure-info-segment-icon" alt="">
                <div class="brochure-info-segment-title">Pick Your Own Path</div>
                <div class="brochure-info-segment-description">
                    Projects can be completed in any order and at any pace. Keeping momentum is our priority, even if it's slow and steady.
                </div>
             </div>
         </div>
         <div class="brochure-segment-content"></div>
     </div>
</div>
@helper ConsoleLog(string message)
    {
        var log = message;

        <script>
        if ( window.console && window.console.log ) {
            console.log("@log");
        }
        </script>
}