﻿body {
    background-color: #ebebeb;
    font-family: Avenir !important;
}

@font-face {
    font-family: Avenir;
    src: url("fonts/AvenirLTStd-Medium.otf");
}

@font-face {
    font-family: Avenir;
    src: url("fonts/Avenir LT 65 Medium.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Avenir;
    src: url("fonts/Avenir LT 95 Black.ttf");
    font-weight: bold;
    font-style: normal;
}

.auth-title {
    color: #39464e;
    font-size: 2.75em;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
}

.auth-component {
    position: relative;
    margin: auto;
    margin-top: 10%;
    padding: 36px 24px 24px;
    max-width: 495px;
    background-color: #aaa;
    border-radius: 15px;
}

.check {
    display: none;
}

.login-form {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 15px;
}

.check:checked + label .img {
    display: inline!important;
}

.icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-grid;
    background: #fff;
    margin-right: 10px;
}

.auth-form-fields {
    padding: 24px 0;
    /*text-transform: uppercase;*/
    font-family: Avenir;
}

input {
    position: relative;
    width: 100%;
    color: #000;
    display: block;
    max-width: 100%;
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255,255,255,1);
    margin-bottom: 15px;
    background-color: #fff !important;
}

    input:not(:focus):valid {
        background: url(images/icons/checked.png);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 390px 15px;
    }

    input:not(:focus):invalid:not(:placeholder-shown) {
        background: url(images/icons/cancel.png);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 390px 15px;
    }

    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px white inset;
        z-index: 1;
    }

.requirements /*input:not(:focus):invalid:not(:placeholder-shown)*/ {
    /*display: none;*/
}

.login-register-button {
    background-color: #4f7ff8;
    color: #fff;
    border-color: transparent;
}

button {
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    padding: 12px 24px;
    border-radius: 8px;
    border: 2px solid #39464e;
    color: #39464e !important;
    background: transparent;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    font-size: 1em;
}

a, a:hover {
    color: #39464e !important;
}

button:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}

.buttons-group {
    /*margin: 12px 0;*/
    height: 5vh;
    line-height: .0vh;
    padding: 0 5px 0 5px !important;
}

.white-button {
    float: left;
    margin-top: 20px;
    width: 45%;
    color: #4f7ff8 !important;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0,0,0,.15);
    border-color: transparent;
}

.white-main-button {
    color: #4f7ff8 !important;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0,0,0,.15);
    border-color: transparent;
    position: absolute;
    top: 20px;
    right: 40px;
}

.course-name {
    margin-top: 10px;
}

.brochure-course-sticky-header-container {
    /*overflow: hidden;
    position: fixed;*/
    width: 100%;
    background-color: #39464e;
    /*z-index: 50;
    top: 0;*/
}

.show {
    overflow: hidden;
    position: fixed;
    -webkit-animation: drop .2s ease-in forwards;
    animation: drop .2s ease-in forwards;
    z-index: 50;
    top: 0;
}

.brochure-detail-header-container {
    background-position-x: 43vw;
    /*background-position-y: 10vh;*/
    background-repeat: no-repeat;
    background-size: 60vw;
    /*margin-top: 70px;*/
}

.circle {
    border-radius: 50%;
    padding: inherit !important;
    transform: scale(1.03);
}

.play-button {
    float: left;
    height: 60px;
    width: 60px;
    border-color: transparent;
    position: relative;
    margin-right: 20px;
}

.brochure-detail-header-video {
    position: relative;
}

.video-controls-container {
    transition: .3s;
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 24px;
}

.play-img {
    height: 40px;
    margin: auto;
    align-content: center;
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 0;
    left: 5px;
}

.control-timeline {
    width: 100%;
    margin: auto;
}

.control-fullscreen {
    padding-top: 15px;
    float: right;
}

.full-screen-button {
    width: 36px;
    height: 36px;
    border-color: transparent;
    position: relative;
    padding: 0;
    margin-left: 20px;
}

.full-screen-img {
    height: 20px;
    width: 20px;
    margin: auto;
    align-content: center;
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 0;
    left: 0;
}

.brochure-detail-subtitle {
    font-weight: 900 !important;
}
/*.brochure-detail-subtitle {
    font-weight: 900!important;
    font-size: 2vw!important;
}

.brochure-detail-description {
    font-size: 1.8vw!important;
}*/


@media screen and (max-width: 1024px) {
    #single-div {
        width: auto;
        display: inline-block;
        margin: 0 8% 7% 8%;
    }

    .course-name {
        font-size: 150%;
    }

    p {
        font-size: 100%;
    }

    button {
        font-size: 3vw;
    }

    .brochure-segment-component .brochure-info-segments {
        font-size: 3vw;
    }

    .brochure-course-container {
        display: unset;
        margin: 0;
    }

    .brochure-course-requirements {
        padding: 4vw;
        margin-left: 10vw;
    }

    .brochure-detail-explanation {
        padding: 4vw;
        text-align: unset;
        flex-shrink: unset;
        margin-left: 0;
        margin-right: 0;
        float: left;
        width: 100%;
    }

    .brochure-quests {
        padding-left: 4vw;
        color: #fff;
        float: right;
        width: 100%;
    }
}

.video-wrapper {
    position: relative;
    width: 90%;
    max-width: 100vh;
    height: auto;
    margin: auto;
}

.brochure-detail-header-background-image {
    width: 100%;
}

/*@media screen and (max-width: 1024px) and (orientation:landscape) {
    .video-wrapper {
        max-width: 70vw;
        margin: auto;
    }
}*/

@media screen and (orientation: portrait) {
    .brochure-detail-header-video.full-screen .video-wrapper {
        top: 100px;
    }
}

.video-container.video {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.brochure-detail-header-video.full-screen {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 51;
    background: rgba(57,70,78,.5);
    padding-top: 0;
}

.video-wrapper.full-screen {
    width: 95%;
    padding-top: 20%;
    height: auto;
    margin: auto;
    vertical-align: baseline;
}

.video-controls-container .video-control-scrubber {
    width: 100%;
    height: 6px;
    background-color: hsla(0,0%,100%,.3);
    border-radius: 100px;
    position: relative;
}

.video-controls-container .video-control-point {
    position: absolute;
    z-index: 1;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 3px solid #fff;
    background-color: #e9edf0;
    top: -6px;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.5);
    box-shadow: 0 0 4px rgba(0,0,0,.5);
    margin-left: -12px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}
