﻿body {
    margin: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    }


a {
    font-family: Lato-Bold;
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.main-page-header-container {
    background: url('images/banner.jpg');
    width: 100%;
    min-height: 80vh;
    background-size: cover;
    background-position: 56%;
}

.titleText {
    color: #fa4251;
    background-color: transparent;
    font-size: 8vw;
    font-weight: 900;
    position: absolute;
    width: 100%;
    text-transform: capitalize;
    text-align: center;
    top: 30%;
}
.youngerKids {
    background-color: #f2f5f7;
}


.brochure-courses-header {
    color: #39464e;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 25px 0 5px 0!important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 48px 24px;
}

.brochure-courses-header-info-subtitle {
    margin-bottom: 1vh;
    text-transform: uppercase;
    font-size: 0.9vw;
    /*margin-bottom: 12px;
    text-transform: uppercase;
    font-size: .75em;*/
}

.brochure-courses-header-info-component .brochure-courses-header-info-title {
    font-size: 2vw;
    padding: 0 3vw;
    border-radius: 100px;
    height: 5vh;
    line-height: 5vh;
    width: max-content;
    margin: auto;
    max-width: 100%;
}

.brochure-courses-header-meta-wrapper {
    justify-content: space-between;
}

.brochure-courses-header-wrapper {
    width: 100%;
    justify-content: space-between;
}

.brochure-courses-header-platforms, .brochure-courses-header-age {
    border-radius: 50%;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.brochure-courses-header-platforms {
    float: left;
    position: relative;
    left: 5%;
}

.brochure-courses-header-age {
    float: right;
    position: relative;
    right: 5%;
}

.brochure-courses-header-img-wrapper, brochure-courses-header-img-wrapper {
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    margin: 0 3vw;
    /*width: 74px;
    height: 74px;
    margin: 0 12px;*/
    text-align: center;
}



.courseLeader {
    background: #cecece;
    margin: 5vw;
    padding: 2vh 5vw;
    /*margin: 24px;
    padding: 42px 36px;*/
    border-radius: 12px;
}

.courseLeader p {
    color: #fa4251;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 20pt;
    -webkit-font-smoothing: antialiased;
}

.description {
    width: 100%;
    max-width: 1344px;
    margin-left: auto;
    margin-right: auto;
}







.brochure-detail-explanation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    width: 240px;
    text-align: right;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-left: 24px;
    margin-right: 108px;
    float: left;
}


.brochure-detail-container .brochure-detail-explanation > :last-child {
    margin-bottom: 0;
}

.brochure-detail-container .brochure-detail-explanation > :nth-child(n) {
    margin-bottom: 24px;
}

.brochure-detail-container .brochure-detail-title {
    font-size: 2em;
    line-height: 1.5em;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
}

.brochure-detail-title {
    font-size: 2em;
    line-height: 1.5em;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
}

.brochure-course-container {
    display: inline-flex;
    margin-bottom: 72px;
}


@media (min-width: 468px) {
    .brochure-quests-container .brochure-detail-breakdown > div {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

.brochure-quests-container .brochure-detail-breakdown > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
}


.brochure-detail-container .brochure-detail-explanation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    /* -webkit-box-direction: normal; */
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    width: 240px;
    text-align: right;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-left: 24px;
    margin-right: 108px;
}

.brochure-detail-container .brochure-detail-explanation>:nth-child(n) {
    margin-bottom: 24px;
}

.brochure-detail-container .brochure-detail-title {
    font-size: 2em;
    line-height: 1.5em;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
}

.brochure-detail-container .brochure-detail-explanation > :last-child {
    margin-bottom: 0;
}

.brochure-detail-container .brochure-detail-explanation > :nth-child(n) {
    margin-bottom: 24px;
}

.brochure-detail-explanation-description {
    font-family: Avenir;
    font-style: normal;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    font-size: 1.25em;
    line-height: 1.5em;
}


.brochure-detail-container .description > :nth-child(n) {
    margin-bottom: 72px;
}

@media (min-width: 468px) {
    .brochure-detail-container .brochure-detail-breakdown > div {
        
    }
}

.brochure-detail-container .brochure-detail-breakdown > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
}

.brochure-quests {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: #fff;
}

.brochure-quest {
    background: #cecece;
    border-radius: 12px;
    margin-right: 12px;
    margin-bottom: 12px;

    position: relative;
    width: 108px;
    height: 144px;
    cursor: pointer;
    color: #fff;
    overflow: hidden;
}

.brochure-quest:hover {
    -webkit-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.brochure-quests-container .brochure-quest-media {
    width: 100%;
    height: 100%;
   
}

.brochure-quests-container .brochure-quest-number {
    position: absolute;
    top: 6px;
    left: 12px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    font-size: .8125em;
    line-height: 1.5em;
    z-index: 1;
}


.brochure-quest-name {
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    font-size: .8125em;
    line-height: 1.5em;
    z-index: 1;
    width: 84px;
    position: absolute;
    bottom: 6px;
    left: 12px;
}







.olderKids {
    background-color: rgb(123, 152, 142);
}

 #div-wrapper {
    white-space: inherit;
    max-width: 100%;
    text-align: center;
    padding-top: 5vw;
    margin: auto;
}

#single-div {
    width: 35%;
    display: inline-block;
    vertical-align: top;
    margin: 0 7% 7% 7%;
    white-space: normal;
}

    #single-div :hover img {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        transform: scale(1.05);

    }

#single-div img{
    max-width: 100%;
}

#single-div-info {
    width: 27%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 3%;
    white-space: normal;
}


.workspaceDiv {
    background: url('images/workspace.jpg');
    opacity: 0.8;
    width: 100%;
    min-height: 80vh;
    background-size: cover;
    overflow: hidden
}

.workspaceP {
    font-family: Lato-Bold;
    color: #385721;
    background-color: transparent;
    font-size: 5vh;
    position: relative;
    padding-left: 5%;
    text-transform: capitalize;
    text-align: left;
    top: 15%;
    margin: 5% 0% 0% 0%;
}

.brochure-segment-component, .brochure-segment-component .inner-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
}

.brochure-segment-component {
    color: #39464e;
    min-height: 90vh;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #fff;
}

@media (min-width: 799.99999px) {
    .brochure-segment-component .brochure-info-segments {
        margin-right: 48px;
        width: 360px;
    }
}

@media (min-width: 768px) {
    .brochure-segment-component .brochure-info-segments {
        width: 288px;
    }
}

.inner-wrapper {
    width: 100%;
    max-width: 1344px;
    margin-left: auto;
    margin-right: auto;
}

.brochure-segment-component .brochure-info-segments {
    width: 100%;
    padding: 10vw !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}



.brochure-info-segment-component > :nth-child(n) {
    margin-bottom: 24px;
}

.brochure-info-segment-component img {
    width: 15vw;
    /*width: 120px;
    height: 120px;*/
}

.brochure-info-segment-component .brochure-info-segment-title {
    margin-top: 12px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    font-size: 2em;
}

.brochure-info-segment-component > :nth-child(n) {
    margin-bottom: 24px;
}

.brochure-info-segment-component .brochure-info-segment-description {
    font-family: Avenir;
    font-style: normal;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    font-size: 1.5em;
    line-height: 1.5em;
}

.brochure-info-segment-component > :last-child {
    margin-bottom: 0;
}

.brochure-info-segment-component > :nth-child(n) {
    margin-bottom: 24px;
}


.brochure-segment-component .brochure-segment-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow-x: hidden;
}


.customFooter {
    background: url(images/footer.jpg);
    width: 100%;
    min-height: 41vh;
    overflow: hidden;
    background-size: cover;
    background-position: 50%;
}

.brochure-course-sticky-header-container {
    background-color: #cecece;
    width: 100%;
    z-index: 50;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 12px 24px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

/* BUTTON */
.brochure-course-sticky-header-actions {
    min-width: max-content;
}

.brochure-course-sticky-header-container .brochure-course-sticky-header-actions button {
    padding: 12px 18px;
}

.blue {
    font-family: Lato-Bold;
    background-color: #4f7ff8;
    color: #fff;
    border-color: transparent;
}

.blue:hover {
    background-color: #ffffff;
    color: #fa4251;
    border-color: transparent;
    font-family: Lato-Bold;
    transition: all 0.4s;
}


button, button:hover {
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    transition: transform .2s,-webkit-transform .2s;
}

button {
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    padding: 12px 24px;
    border-radius: 8px;
    border: 2px solid #39464e;
    color: #39464e;
    background: transparent;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    font-size: 1em;
}

.brochure-course-sticky-header-login invert blue :hover {
    background-color: #4f7ff8;
    color: #ffffff;
    border-color: transparent;
    font-family: Lato-Bold;
    transition: all 0.4s;
}


button, p, span {
    font-size: 1.2vw;
    line-height: 1.5em;
}

a, button {
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    vertical-align: middle;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

button, select {
    text-transform: none;
}

button {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}


button.blue.invert {
    color: #fa4251;
}

button.blue.invert:hover {
    background-color: #4f7ff8;
    color: #ffffff;
}

a.invert, button.invert {
    background-color: #fff;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.2);
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
    border-color: transparent;
    color: #39464e;
}
/*///////////////////////////////////////////////////////////////////////////////////*/

/* Course page */


@media (max-width: 500px) {
    .brochure-detail-description {
        text-align: justify;
    }

    .brochure-detail-header-content {
        max-width: 100vw;
    }

    .brochure-detail-header-title-wrapper {
        /*margin-top: 5%;*/
    }

    .brochure-detail-header-title-wrapper img {
        max-width: 100vw;
        display: block;
        margin: auto;
    }

    .brochure-detail-header-clickables {
        display: block;
        margin: auto;
        max-width: 90vw;
    }

    .brochure-course-actions {
        margin-top: 5%;
        height: 59px;
    }

    .primary {
        float: left;
    }

    .brochure-course-gift {
        float: right;
    }
}

@media (min-width: 500px) {
    .brochure-detail-header-content {
        max-width: 45vw;
        margin-left: 5%;
    }

    .brochure-detail-header-video {
        padding-top: 5%;
    }

    .brochure-detail-header-title-wrapper {
        /*margin-top: 5%;*/
        margin-top: 5%;
        max-width: 50vw;
        float: right;
    }

    .brochure-detail-header-title-wrapper img {
        max-width: 100%;
        display: block;
        margin: auto;
    }

    .brochure-detail-header-clickables {
        display: block;
        margin: auto;
        max-width: 90vw;
    }

    .brochure-course-actions {
        margin-top: 5%;
        height: 59px;
    }

    .brochure-course-actions button{
        font-size: 11pt;
    }

    .primary {
        float: left;
    }

    .brochure-course-gift {
        float: right;
    }

}

@media (min-width: 600px) {
    .brochure-course-actions button {
        font-size: 9pt;
    }
}


@media (min-width: 769px) {
    .brochure-detail-header-container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .brochure-course-actions button {
        font-size: 18pt;
    }

    .brochure-course-actions {
        margin-top: 5%;
        height: 78px;
    }
}

@media (min-width: 1248px) {

    .brochure-course-actions button {
        font-size: 15pt;
    }

    .brochure-detail-header-container {
        max-height: 936px;
    }

    @media (min-width: 1024px) {
        .brochure-detail-header-container {
            max-height: 888px;
        }
    }

    .brochure-detail-header-container {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0;
        background-size: cover;
        background-position: 50%;
        color: #39464e;
    }


        .brochure-detail-header-container .brochure-detail-header-content {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            padding: 0;
            padding: 60px 0;
            margin-left: 60px;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            width: 408px;
        }

        .brochure-detail-header-container .brochure-detail-header-clickables > :nth-child(n) {
            margin-bottom: 24px;
        }

        .brochure-detail-header-container .brochure-detail-header-details {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            padding: 0;
        }

            .brochure-detail-header-container .brochure-detail-header-details > :nth-child(n) {
                margin-bottom: 12px;
            }

        .brochure-detail-header-container .brochure-detail-subtitle {
            font-family: Avenir;
            font-style: normal;
            font-weight: 900;
            -webkit-font-smoothing: antialiased;
            font-size: 1.75em;
            line-height: 1.25em;
        }

    .brochure-detail-container .brochure-detail-subtitle {
        font-family: Avenir;
        font-style: normal;
        font-weight: 900;
        -webkit-font-smoothing: antialiased;
        font-size: 1.75em;
        line-height: 1.5em;
    }

    .brochure-detail-header-container .brochure-detail-header-details > :last-child {
        margin-bottom: 0;
    }

    .brochure-detail-header-container .brochure-detail-header-details > :nth-child(n) {
        margin-bottom: 12px;
    }

    .brochure-detail-header-container .brochure-detail-description {
        font-size: 1em;
        text-align: justify;
        line-height: 1.5em;
        font-family: Avenir;
        font-style: normal;
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
    }

    .brochure-detail-container .brochure-detail-description {
        font-size: 1.25em;
        line-height: 1.5em;
        font-family: Avenir;
        font-style: normal;
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
    }


    .brochure-detail-header-container .brochure-detail-header-title-wrapper {
        position: absolute;
        left: 44%;
        padding: 60px 0;
        margin-top: 0px;
        margin-right: 3%;
    }
}
/*//////////////////////////////////////////////////////////////////////////////////*/




.brochure-header-container .brochure-header-title {
    font-size: 7em;
    width: 1024px;
    text-transform: capitalize;
}

#container {
    display: table;
}

#row {
    display: table-row;
}

#left, #right, #middle {
    display: table-cell;
}

#button {
    font-family: Lato-Bold;
    font-size: 18px;
    color: #fa4251;
    line-height: 1.4;
    background-color: transparent;
    display: inline;
}

#button :hover {
    font-family: Lato-Bold;
    font-size: 18px;
    color: #fa4251;
    line-height: 1.4;
    background-color: transparent;
    display: inline;
}



